@layer theming {
	/* Typography based on system fonts ----------------------- */
	html { font-family: var(--BaseFontStack, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"); }

	/* Adaptation of the typography ----------------------- */
	@media (max-width: 110ch) { :root { --Scale: var(--MinorThird); } }
	@media (min-width: 110ch) { :root { --Scale: var(--MajorThird); } }


	/* Typographic scale ----------------------- */
	h1, .h1 { --ScaleLevel: var(--Huger);}
	h2, .h2 { --ScaleLevel: var(--Huge); }
	h3, .h3 { --ScaleLevel: var(--Tall); }
	h4, .h4 { --ScaleLevel: var(--Short); }
	h5, .h5 { --ScaleLevel: var(--Short); }
	h6, .h6 { --ScaleLevel: var(--Shorter); }

	h1, h2, h3, h4, h5, h6, 
	.h1, .h2, .h3, .h4, .h5, .h6 {
		--FontWeight: 740;

		font-family: var(--Grotesk);
	}

	.h1, h1, .h2, h2 {
		--FontWeight: 440;
	}

	strong {
		--FontWeight: 600;
	}

	:is(h1, .h1)+strong {
		--ScaleLevel: var(--Taller);

		display: block;
	}


	h3+p {
		font-style: italic;
	}

	html {
		--Color: oklch(51% 4% var(--BrownHue));
		--TargetFontSize: round(3dvw, 2px);
		--FontWeight: 400;

		text-wrap: pretty;
		font-family: var(--Serif);
		scroll-padding-top: 40px;
	}

	header {
		--FontWeight: 540;

		font-family: var(--Grotesk);

		& small {
			--ScaleLevel: var(--Shorter);
			--FontWeight: 800;
			--LineHeightFactor: 0.75;

			text-transform: uppercase;
		}
	}

	section>p:only-of-type {
		--ScaleLevel: var(--Hugest);
		--FontWeight: 800;

		@media (max-width: 110ch) {
			--LineHeightFactor: 0.75;
		}

		font-family: var(--Condensed);
		text-transform: uppercase;
		min-width: initial;

		& em {
			color: oklch(96% 46% var(--LimeHue));
		}
	}

	li {
		font-family: var(--Serif);

		--ScaleLevel: var(--Tall);
		--FontWeight: 500;

		@media (max-width: 110ch) {
			--LineHeightFactor: 0.875;
		}

		@media (min-width: 110ch) {
			--LineHeightFactor: 0.75;
		}


		&:has(strong+p) {
			--ScaleLevel: var(--Short);
			--FontWeight: 480;

			font-family: var(--Grotesk);
		}

	}

	blockquote {
		--ScaleLevel: var(--Short);
		--FontWeight: 480;
		--LineHeightFactor: 0.75;

		font-family: var(--Serif);
		font-style: italic;
	}

	body>footer {
		--FontWeight: 500;
		font-family: var(--Grotesk);

		& * {
			--LineHeightFactor: 1;
		}

		&>article {
			--FontWeight: 600;
		}

		&>p {
			--ScaleLevel: var(--Short);
		}
	}
}
