@font-face {
    font-family: 'Aleo';
    src: local('Aleo Italic'), local('Aleo-Italic'),
        url('Aleo-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aleo';
    src: local('Aleo Regular'), local('Aleo-Regular'),
        url('Aleo-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

