@font-face {
    font-family: 'Aleo';
    src: url('Aleo-Italic.woff2') format('woff2');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aleo';
    src: url('Aleo.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Neue Montreal';
    src: url('PPNeueMontreal-Variable-subset.woff2') format('woff2');
    font-weight: 200 800;
    font-style: normal;
}

@font-face {
    font-family: 'PP Right Grotesk Compact';
    src: local('PP Right Grotesk Compact Dark'), local('PPRightGrotesk-CompactDark'),
        url('PPRightGrotesk-CompactDark.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}
