@layer features {
	* {
		--BaselineInterval: calc(var(--Row) / 2);
		--LineHeightBase: calc(var(--FontSize) * var(--LineHeightFactor));
		--BaselineMinimum: calc(var(--Row) * .75);
		--LineHeight: max(round(var(--LineHeightBase), var(--BaselineInterval)), var(--BaselineMinimum));
	}
}
