@layer utilities {
	.as-fullbleed {
		grid-column: full;
		display: grid;
		grid-template-columns: subgrid;
		padding: var(--SpacingLarge) 0;

		:where(:not(.dark, .secondary))+& {
			margin-top: var(--SpacingLarge);
		}

		&>* {
			grid-column: main;
		}

		&>p:only-of-type {
			*+& {
				margin-top: var(--SpacingLarger);
			}

			&:last-child {
				margin-bottom: var(--SpacingLarger);
				:has(&) {
					padding-bottom: 0;
				}
			}

		}

		&.dark {
			background-color: oklch(92% 6% var(--BrownHue));
		}

		&.secondary {
			--Color: oklch(98% 6% var(--BrownHue));
			background-color: oklch(55% 39% var(--ThemeHue));

			&._dark {
				background-color: oklch(45% 39% var(--ThemeHue));
			}
		}

		&+& {
			margin-top: 0;
		}

		&>:is(h2, h3)::before {
			content: none;
		}

		&>header+* {
			margin-top: var(--SpacingBroader);
		}

		&>*+:is(h3, .h3, h4, .h4) {
			margin-top: var(--SpacingLarge);
		}

		& ul {
			counter-reset: imagine;
			& li {
				padding-left: 2ch;
				position: relative;
				counter-increment: imagine;
				&::before {
					content: counter(imagine)". ";
					font-weight: 700;
					position: absolute;
					left: 0;
					margin-top: -0.05em;
					font-family: var(--Grotesk);
				}
			}
		}
	}
}
