@layer utilities {
	.as-fullbleed {
		grid-column: full;
		display: grid;
		grid-template-columns: subgrid;
		padding: var(--SpacingLarge) 0;
		background: inherit;

		&>* {
			grid-column: main;
		}

		&>*+p:only-of-type {
			margin-top: var(--SpacingLarger);
		}

		&:where(:has(>p:only-of-type:last-child)) {
			padding-bottom: var(--SpacingLarger);
		}



		&+& {
			margin-top: 0;
		}

		&>:is(h2, h3)::before {
			content: none;
		}

		&>header+* {
			margin-top: var(--SpacingBroader);
		}

		&>*+:is(h3, h4) {
			margin-top: var(--SpacingLarge);
		}

		& ul {
			counter-reset: imagine;
		}

		& ul>li {
			counter-increment: imagine;
			display: flex;
			align-items: baseline;
			gap: 10px;

			&::before {
				content: counter(imagine)". ";
				font-weight: 700;
				font-family: var(--Grotesk);
			}
		}
	}
}
