@layer utilities {
	.as-fullbleed {
		grid-column: full;
		display: grid;
		grid-template-columns: subgrid;
		padding-block: var(--SpacingLarge);
		background: inherit;

		&>* {
			grid-column: main;
		}

		&>*+p:only-of-type {
			margin-top: var(--SpacingLarger);
		}

		&:where(:has(>p:only-of-type:last-child)) {
			padding-bottom: var(--SpacingLarger);
		}



		&+&, &+hr+& {
			margin-top: 0;
		}

		&+hr:has(+&) {
			margin-top: 0;
			height: 0;
			position: relative;
			top: 1px;
			border: 0;
			outline: 1px solid oklch(80% 18% var(--CyanHue));
		}

		&>:is(h2, h3)::before {
			content: none;
		}

		&>header+* {
			margin-top: var(--SpacingBroader);
		}

		&.and-padding-larger {
			padding-block: var(--SpacingLarger);
		}

		&.and-full-height {
			min-height: calc(100dvh - var(--SpacingLarge) * 2);
			align-content: center;
		}
	}
}
