@layer utilities {
	.as-prose {
		--DivMaxWidth: initial;
		--DivColumnWidth: 43ch;
		--DivItemMaxWidthOnly: 45ch;
		--DivColumnGap: var(--SpacingBroad);
	}

	.as-prose {
		max-width: var(--DivMaxWidth);
		column-gap: var(--DivColumnGap);
		column-width: var(--DivColumnWidth);
	}

	.as-prose>*:only-child {
		max-width: var(--DivItemMaxWidthOnly);
		margin-right: auto;
		margin-left: auto;
		column-span: all;
	}
}

