@layer components {
	.tile {
		display: block;

		&>strong {
			display: block;
		}

		&>*+* {
			margin-top: var(--SpacingThinnest);
		}


		& em {
			color: oklch(96% 46% var(--LimeHue));
		}

		&::before {
			color: oklch(85% 39% var(--ThemeHue));
		}
		& cite {
			font-style: normal;
			display: block;
			&::before {
				content: "— ";
			}
		}
	}
}
