@layer regions {
	[id=nav] {

		--Color: oklch(90% 17% var(--CyanHue));
		view-transition-name: navigation;
		position: relative;
		z-index: 1;
		font-family: var(--Grotesk);


		&>div {
			display: flex;
			scrollbar-width: none;
			align-items: baseline;
			flex-wrap: nowrap;
			gap: 0;


			&>* {
				flex-shrink: 0;
				flex-grow: 0;
				flex-basis: auto;
			}

			&>:is(div, a) {
				padding: var(--SpacingThin) var(--SpacingThinner);
			}

			&:where(:has(>div:hover))>div:not(:hover) {
				background-color: oklch(40% 36% var(--ThemeHue));
			}
		}

		& :is(h3, h4) {
			color: oklch(84% 39% var(--ThemeHue));
		}

		& h4 {
			position: relative;
			left: var(--SpacingThinnest);
		}

		& a {
			--FontWeight: 600;
			display: block;
			line-height: 1;
			padding: var(--SpacingThinnest);
			margin: 0;

			@media (orientation: landscape) {
				--ScaleLevel: var(--Short);
			}

			&:hover {
				color: oklch(98% 38% var(--RedHue));
			}
		}


		&>div>a:last-child {
			font-weight: 700;
			margin-left: auto;
		}

	}


	@media (orientation: portrait) {
		[id=nav] {
			order: 1;
			position: sticky;
			display: block;
			bottom: 0;
			touch-action: auto;
			grid-column: full;
			background-color: oklch(45% 39% var(--ThemeHue));
			border-top: 2px solid oklch(55% 39% var(--ThemeHue));

			& * {

				--ScaleLevel: var(--Base);
			}

			&>div {
				overflow-x: auto;

				&::before {
					position: sticky;
					right: -1px;
					display: flex;
					flex-shrink: 0;
					align-items: center;
					justify-content: end;
					order: 1;

					width: var(--SpacingRow);
					padding: var(--SpacingMicro);
					background-image: linear-gradient(to left, oklch(45% 39% var(--ThemeHue)) 60%, oklch(45% 39% var(--ThemeHue) / 0) 100%);
					content: "...";
					color: var(--Color);

				}

				&::after {
					position: relative;
					z-index: 1;
					display: flex;
					flex-shrink: 0;

					box-sizing: border-box;
					width: var(--SpacingRow);
					margin-right: calc(var(--SpacingBroader) * -0.7);
					padding-right: var(--SpacingThinnest);
					background-color: oklch(45% 39% var(--ThemeHue));
					content: "";
					place-items: center;
					align-self: stretch;
				}

				&>:last-child {
					margin-right: calc(var(--SpacingThinner) * -1);
				}
			}
		}
	}


	[id=nav] .__dropdown {
		position: relative;
		display: flex;

		&>div {
			margin: 0;
			display: flex;
			gap: 0;
			flex-direction: column;
			padding: 20px 10px;
			background-color: oklch(45% 39% var(--ThemeHue));

			&:has(section) {
				flex-direction: row;
				flex-wrap: nowrap;
				gap: 40px;
			}

			@media (orientation: portrait) {
				bottom: calc(var(--Short) * 1rem + var(--SpacingThin) * 2 + 2px);
				top: auto;
				left: 0;
				right: 0;
				position: fixed;
				box-shadow: 0px -12px 15px oklch(40% 36% var(--ThemeHue) / 0.5);
			}

			@media (orientation: landscape) {
				width: max-content;
				left: 0;
				position: absolute;
				top: 100%;
				border-radius: 0 0 4px 4px;
				box-shadow: 0px 12px 15px oklch(40% 36% var(--ThemeHue) / 0.5);
			}
		}

		&:where(:not(:hover))>div {
			opacity: 0;
			pointer-events: none;
		}
	}
}
