@layer regions {
	[id=sitemap] {
		& a {
			display: block;

			&:visited {
				color: oklch(98% 38% var(--RedHue));
			}
		}

		& h4 {
			--Color: oklch(84% 39% var(--ThemeHue));
		}

		& div {
			margin: 0;
			display: flex;
			flex-wrap: wrap;
			gap: 80px;
			align-items: baseline;
		}

		& *+* {
			margin-top: var(--SpacingThinnest);
		}
	}
}
