@layer regions {
	[id=sitemap] {
		* {
		}

		& div {
			display: flex;
			flex-wrap: wrap;
			margin: 0;
		}

		&>div {
			&>section {
				flex-basis: auto;
				flex-shrink: 1;
				flex-grow: 0;

				&>div {
					flex-wrap: nowrap;
				}
			}
		}

		& a {
			display: block;
			text-decoration: none;
			/* pointer-events: none; */
			/* background-color: oklch(45% 39% var(--ThemeHue)); */

			&:visited {
				color: oklch(98% 38% var(--RedHue));
			}
		}

		& h4 {
			--Color: oklch(84% 39% var(--ThemeHue));
		}

		& div {
			gap: 80px;
			align-items: baseline;
		}

		& *+* {
			margin-top: var(--SpacingThinnest);
		}

		& h2+* {
			margin-top: var(--SpacingThin);
		}
	}
}
