@layer regions {
	[id=sitemap] {
		& :is(span, a) {
			display: block;

			&:visited {
				color: oklch(92% 28% var(--LimeHue));
			}
		}

		& h4 {
			--Color: oklch(84% 39% var(--ThemeHue));
		}

		& h3+* {
			margin-top: var(--SpacingThin);
		}

		& h3+div {
			margin-top: var(--SpacingThinner);
		}

		& div {
			margin: 0;
			display: flex;
			flex-wrap: wrap;
			gap: 80px;
			align-items: baseline;
		}

		& *+* {
			margin-top: var(--SpacingThinnest);
		}
	}
}
