@layer utilities {
	.with-scheme-dark {
		background-color: oklch(92% 6% var(--BrownHue));
	}

	.with-scheme-secondary {
		--Color: oklch(98% 6% var(--BrownHue));
		background-color: oklch(55% 39% var(--ThemeHue));

		&.and-dark {
			background-color: oklch(45% 39% var(--ThemeHue));
		}

		& p a {
			color: oklch(98% 30% var(--RedHue));
			text-decoration-thickness: 2px;
				text-underline-offset: 3px;
			&:hover {
				text-underline-offset: 6px;
			text-decoration-thickness: 3px;
				color: oklch(96% 40% var(--BrownHue));
			}
		}

		& p em {
			color: oklch(100% 28% var(--CyanHue));
		}
	}

	.with-scheme-lime {
		--Color: oklch(60% 36% var(--LimeHue));
		background-color: oklch(98% 30% var(--LimeHue));
	}

	.with-scheme-red {
		--Color: oklch(60% 36% var(--RedHue));
		background-color: oklch(98% 30% var(--RedHue));
	}
}
