.with-scheme-dark {
	background-color: oklch(92% 6% var(--BrownHue));
}

.with-scheme-secondary {
	--Color: oklch(98% 6% var(--BrownHue));
	background-color: oklch(55% 39% var(--ThemeHue));
}

.with-scheme-secondary-dark {
	background-color: oklch(45% 39% var(--ThemeHue));
}
