body.green {
	--ThemeHue: var(--LimeHue);
}

.editable {
	color:oklch(100% 39% var(--ThemeHue));
	position: relative;
	>* {
		display: block;
	}

	&:has(:focus, textarea:not(:placeholder-shown)) {
		span, &::before {
			opacity: 0;
			pointer-events: none;

		}

		textarea {
			padding: 0;

		}
	}
	& textarea {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		background: none;
		border: none;
		/* border-bottom: 2px solid currentColor; */
		font-size: 16px;
		line-height: var(--Row);
		padding-block: var(--SpacingThinnest);
		color: inherit;
		resize: none;
		outline: none;
		margin: 0;
		display: none;

		&::placeholder {
			color: inherit;
		}
	}
}

i {
	font-family: "Apple Symbols", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-style: normal;
}

