body.green {
	--ThemeHue: var(--LimeHue);
}

.editable {
	color:oklch(100% 39% var(--ThemeHue));
	position: relative;
	>* {
		display: block;
	}

	&:has(:focus, textarea:not(:placeholder-shown)) {
		span, &::before {
			opacity: 0;
			pointer-events: none;

		}

		textarea {
			padding: 0;

		}
	}
	& textarea {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		background: none;
		border: none;
		/* border-bottom: 2px solid currentColor; */
		font-size: 16px;
		line-height: var(--Row);
		padding-block: var(--SpacingThinnest);
		color: inherit;
		resize: none;
		outline: none;
		margin: 0;
		display: none;

		&::placeholder {
			color: inherit;
		}
	}
}

i {
	font-family: "Apple Symbols", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-style: normal;
}

@layer components {
	.brick {
		--SelectedHue: var(--BlueHue);

		&:hover {

			--SelectedHue: var(--BrownHue);
			background-color: oklch(94% 32% var(--BrownHue)) !important;
		}

		font-family: var(--Grotesk);
		padding: var(--SpacingThinner);
		display: block;
		border-radius: 5px;
		background-color: oklch(94% 32% var(--SelectedHue));
		--Color: oklch(46% 8% var(--BrownHue));



		/* flex-direction: column; */
		/* justify-content: end; */

		&:has(h4+p)>* {
			display: inline;
			line-height: 1;
		}

		h4 {
			color: oklch(46% 8% var(--BrownHue));
		}

		&:has(h3+small) {
			aspect-ratio: 4/3;
			display: flex;
			flex-direction: column-reverse;
			justify-content: space-between;
		}

		small {
			--FontWeight: 700;
			--ScaleLevel: var(--Short);
			--Color: oklch(52% 34% var(--SelectedHue));
			line-height: 1;
		}

		h3 {
			&::after {
				color: oklch(60% 34% var(--SelectedHue));
				content: "⮊";
				font-size: 0.75em;
				margin-left: auto;
			}

			display: flex;
			align-items: baseline;

			--LineHeightFactor: 1;
			--ScaleLevel: var(--Taller);
			/* --FontWeight: 700; */
		}

		&:not(:hover) h3::after {
			opacity: 0;
		}
	}

	.cta {
		&::after {
			color: oklch(96% 40% var(--CyanHue));
			content: "➔";

			font-size: 1.75em;
			margin-left: var(--SpacingThin);
			line-height: 1;
			display: flex;
			place-items: center center;
			position: absolute;
			left: 100%;
			bottom: 0;
			top: 0.125em;
		}

		*+& {
			margin-top: var(--SpacingBroadest);
		}

		&:hover {
			background-color: oklch(96% 40% var(--BrownHue));

			&::after {
				color: oklch(96% 40% var(--BrownHue));
			/* margin-left: var(--SpacingBroad); */
			}
		}

		display: inline-flex;
		max-width: max-content;

		--ScaleLevel: var(--Tall);
		--FontWeight: 540;
		padding: var(--SpacingThinner) var(--SpacingThin);
		border-radius: 7px;
		background-color: oklch(96% 40% var(--CyanHue));
		color: oklch(45% 39% var(--BlueHue));
		font-family: var(--Grotesk);
		position: relative;
	}
}

[id=index] {
	& section>header {
		& em {
			color: oklch(96% 46% var(--LimeHue));
			font-weight: 560;
		}
	}
	& section p {
		--LineHeightFactor: 1.5;
		--BaselineInterval: calc(var(--Row) / 4);
		--ScaleLevel: var(--Tall);
		--FontWeight: 540;
		font-family: var(--Grotesk);

		& em {
			color: oklch(100% 28% var(--CyanHue));
		}
	}

	section h3:has(+ul) {
		display: flex;
		align-items: baseline;
		&::after {
			content: "";
			border-top: 2px solid oklch(92% 6% var(--BrownHue));
			flex-grow: 1;
			margin-left: 1em;
		}
	}
}

.timeline {
	overflow: auto;
	margin-inline: calc(-1 * var(--SpacingRow));
	padding-inline: var(--SpacingRow);
	padding-bottom: var(--SpacingRow);

	&>div {
		display: flex;
		gap: 20px;
		position: relative;
		width: max-content;
		min-width: 100%;
	}

	&>div::before {
		content: "";
		height: 4px;
		width: 100%;
		position: absolute;
		background-color: oklch(100% 28% var(--CyanHue));
		top: calc(1.5ch + 10px - 2px);
	}

	*+& {
		margin-top: var(--SpacingBroadest);
	}

	&>div>* {
		margin: 0;
		flex-grow: 1;
		flex-shrink: 0;
		text-align: center;
		position: relative;

		&:first-child {
			text-align: left;
		}

		&:last-child {
			text-align: right;
		}
	}

	span {
		--ScaleLevel: var(--Taller);
		--FontWeight: 800;
		line-height: 1ch;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		padding: 10px;
		border-radius: 50%;
		width: 2ch;
		height: 2ch;
		color: oklch(45% 39% var(--BlueHue));
		background-color: oklch(100% 28% var(--CyanHue));

	}
}

nav span:where([aria-hidden=true]) {
	cursor: help;
	mix-blend-mode: luminosity;

	&:not(:hover) {
		filter: contrast(0.2);
	}
	&:hover {
		position: relative;
		color: oklch(from var(--Color) l c h / 0);

		&::before {
			/* background-color: oklch(from currentColor 90% c h / 100); */
			color: var(--Color);
			position: absolute;
		}

		html[lang=fr] &::before {
			content: "Bientôt !"
		}

		html[lang=en] &::before {
			content: "Soon!"
		}
	}
}

#footnotes a {
	pointer-events: none;
}
