html {
	font-family: "PT Serif";
	font-family: "Aleo";
	/* font-family: "Source Serif 4"; */
	/* font-family: "Atlas Grotesk"; */
	background-color: oklch(98% 6% 88deg);
	/* background-color: oklch(98% 5% 326deg); */
	--Color: #555;
	font-weight: 450;
	--TargetFontSize: round(3vw, 2px);
}

body {
	display: grid;
	grid-template-columns: [full-start] 1fr [main-start] minmax(0, 120ch) [main-end] 1fr [full-end];

	&>*,
	main>:is(section, header) {
		grid-column: full;
		display: grid;
		grid-template-columns: subgrid;
	}

	&>*>*,
	&>main>:is(section, header)>* {
		grid-column: main;
	}
}

body>header {
	--Color: oklch(98% 6% 88deg);
	background-color: oklch(45% 39% 274deg);
	font-family: "Aktiv Grotesk VF Trial";

	h1 {
		text-transform: uppercase;
		font-weight: 800;
		flex-basis: max-content;
		flex-grow: 0;
		--ScaleLevel: var(--Shorter);
		--Color: oklch(98% 38% 19deg);


			em {
				font-style: normal;
				color: oklch(90% 17% 219deg);
			}
	}

	&>div {
		align-items: center;
	}
}

[id=navigation-principale] {
	display: flex;
	gap: 10px;

	div>*, a {
		padding: 20px;
	}

	&>a:last-child {
		margin-left: auto;
	}
}

.menu-deroulant {
	position: relative;

	&>div {
		position: absolute;
		top: 100%;
	}

	&:not(:hover)>div {
		opacity: 0;
		pointer-events: none;
	}
}

header {
	font-family: "Aktiv Grotesk VF Trial";

	small {
		text-transform: uppercase;
		font-weight: 800;
		font-size: 0.625em;
	}
}

main>* {

}

main>header {
	padding: 20px;
	background-color: oklch(55% 39% 274deg);
	--Color: oklch(98% 6% 88deg);

	p {
		--FontWeight: 500;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Atlas Grotesk";
	font-family: "Aktiv Grotesk VF Trial";
	font-weight: 650;
	/* font-family: "Open Sans"; */
	/* color: oklch(59% 38% 29deg); */
}

h1 {
	font-weight: 440;
	--ScaleLevel: var(--Hugest);
	/* color: oklch(55% 39% 274deg); */
}

h1+strong {
	--ScaleLevel: var(--Taller);
}

p {
	max-width: 60ch;
}

sup {
	line-height: 0;
	margin-left: 0.1625em;
	font-size: 0.8125em;
}

.footnote-ref {

	text-decoration: none;
}

h1 + p {
	margin-top: var(--SpacingBroader);
}

.encart {
	padding: 20px;
	background-color: oklch(98% 38% 19deg);
	max-width: 40ch;
	--FontWeight: 600;
	--LineHeightFactor: 0.8125;
	--ScaleLevel: var(--Short);
	margin-left: auto;
	margin-right: 40px;
	float: right;
	/* margin-top: -80px; */

	&>span {
		--Color: oklch(59% 38% 29deg);
		/* text-transform: uppercase; */
		font-weight: 700;

		&::after {
			content: "!";
			font-family: "Aktiv Grotesk VF Trial";
			font-weight: 700;
			font-size: 1.125em;
			line-height: 0;
			margin-left: 0.25em;
			rotate: 5deg;
			position: relative;
			display: inline-block;
		}

		&+* {
			margin-top: calc(var(--Row) / 4);
		}
	}
}

.grille {
	display: grid;
	grid-column: 1 / -1;
	gap: 40px;
	grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
	padding: clamp(20px, round(2vw, 10px), 40px);
	list-style-type: none;
}

.footnotes a {
	word-break: break-all;
}

li>strong {
	display: block;
}
